.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  flex: 1;
  max-width: 700px;
}

.containerIframe {
  position: relative;
  overflow: hidden;
  padding-top: 75%; /* 4:3 aspect ratio */
  margin-bottom: 1rem;
}

.respIframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
}

.controls {
  background: rgba(255, 255, 255, 0.25);
  padding: 1rem;
  border-radius: 2rem;
  align-self: center;
}

.controls > :not(:first-child) {
  margin-left: 1rem;
}

.btn {
  --maxLen: 20ch;
  border: none;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  background: #f0eae7;
  cursor: pointer;
  border-radius: 1rem;
  width: 50px;
  height: 50px;
}

.lbl {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 800px) {
  .containerIframe {
    padding-top: 56.25%; /*16:9 aspect ratio*/
  }
  .main {
    max-width: 1024px;
  }
}
